<div class="container mt-5 min-vh-100">
    <h1 class="mb-4 fw-bold h3">My bookings</h1>
    <ul class="list-group">
      <% @bookings.each do |booking| %>
        <li class="list-group-item d-flex mt-3">
            <!-- Image Container -->
              <%= image_tag('spaceship_placeholder.jpeg', alt: 'Spaceship',style: 'width: 100px;') %>
            <!-- Details Container -->
            <div class="flex-grow-1 ms-3">
                <p class="mb-1"><%= booking.ship.name %></p>
                <small class="small text-muted">Booked from <%= booking.start_date.strftime('%B %d, %Y') %> to <%= booking.end_date.strftime('%B %d, %Y') %></small>
                <br>
                <small class="small text-muted"><%= booking.ship.price_per_day %> € per day</small>
            </div>
        </li>
      <% end %>
    </ul>
</div>
