<div class="container">
  <% if current_user.nil? %>
  <div class="px-4 py-5 my-5 text-center">
    <%= image_tag('rocket_logo.png', alt: 'Spaceship', class: 'd-block mx-auto mb-4', width: '72', height: '57') %>
    <h1 class="display-5 fw-bold text-body-emphasis">Spacebnb</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome aboard SpacBnB, your gateway to the stars! ✨
        Find the perfect spaceship for your journey. Explore new planets, star systems, and experiences beyond the ordinary, all from the comfort of a spaceship that feels like home.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-dark px-4 gap-3" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary px-4" %>
      </div>
    </div>
  </div>
  <% else %>
<div class="container">
  <%= form_with url: ships_path, method: :get, local: true, html: { class: 'row bg-white p-4 rounded shadow-sm' } do |form| %>
    <h1 class="h3 col-12">Browse Spaceships</h1>

    <!-- Capacity Field -->
    <div class="form-group row col-12">
      <%= label_tag :capacity, "Capacity", class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-9">
        <%= number_field_tag :capacity, params[:capacity], min: 4, max: 20, class: 'form-control' %>
      </div>
    </div>

    <!-- Category Field -->
    <div class="form-group row col-12 my-2">
      <%= label_tag :category_id, "Category", class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-9">
        <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), prompt: 'Select a Category', class: 'form-control' %>
      </div>
    </div>

    <!-- Keyword Field -->
    <div class="form-group row col-12">
      <%= label_tag :keyword, "Keyword", class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-9">
        <%= text_field_tag :keyword, params[:keyword], class: 'form-control' %>
      </div>
    </div>

    <!-- Search Button -->
    <div class="form-group row col-12">
      <div class="col-sm-offset-3 col-sm-9">
        <%= submit_tag "Search", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <div class="container mt-2">
    <!-- Grid Row -->
    <div class="row">
      <% @ships.each do |ship| %>
        <!-- Grid Column -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <!-- Card for each ship -->
          <div class="card h-100 rounded">
              <%= image_tag('spaceship_placeholder.jpeg', alt: 'Spaceship', class: 'card-img-top') %>
            <div class="card-body">
              <%= link_to ship.name, ship_path(ship.id), class: 'text-dark fw-bold' %>
              <p class="card-text"><%= ship.description[0...20] + '...' if ship.description.length > 20 %></p>
              <p class="badge rounded-pill bg-dark"><%= ship.location %><p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <% end %>
</div>
