<div class="container mt-5 min-vh-100">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/ships" class="link-decoration-none">Spaceships</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @ship.name %></li>
  </ol>
</nav>

  <div class="row">
    <div class="col-12 col-md-6 p-4">
      <% if @ship.id >= 1 && @ship.id <= 9 %>
          <%= image_tag("#{@ship.id}.png", alt: 'Spaceship', class: 'card-img-top rounded-top-4') %>
      <% else %>
          <%= image_tag('spaceship_placeholder.jpeg', alt: 'Spaceship', class: 'card-img-top rounded-top-4') %>
      <% end %>
    </div>
    <div class="col-12 col-md-6 p-4">
      <h1 class="h3 fw-bold"><%= @ship.name %></h1>
      <p><%= @ship.description %></p>
      <ul class="list-unstyled">
        <li><strong>Price per Day:</strong> $<%= number_with_precision(@ship.price_per_day, precision: 2) %></li>
        <li><strong>Capacity:</strong> <%= @ship.capacity %> people</li>
        <li><strong>Location:</strong> <%= @ship.location %></li>
        <li><strong>Available From:</strong> <%= @ship.available_from.strftime("%B %d, %Y") %></li>
        <li><strong>Available To:</strong> <%= @ship.available_to.strftime("%B %d, %Y") %></li>
      </ul>
      <%= link_to 'Book This Ship', new_ship_booking_path(@ship), class: 'btn btn-primary rounded-4 fw-bold' %>
    </div>
  </div>
</div>
